.modal {
  width: 80%;
}

.modalTopContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.scroll {
  max-height: 600px;
  padding: 4px 0;
}

.loading {
  position: absolute;
  top: 50%;
  left: calc(50% + 125px);
  transform: translate(-50%, -50%);
}

.titleContainer {
  margin-bottom: 10px;
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
}

.buttonContainer {
  display: flex;
  align-items: center;
  margin: 30px 0 15px;

  button {
    margin-right: 12px;
  }
}

.questionsGroupContainer {
  width: 100%;
}

.track {
  right: -30px;
}

.content {
  padding: 5px;
}

.openedFirst {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.opened {
  border-right: 1px solid transparent;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.closedFirst {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.closed {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid transparent;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
