.modalBody {
  margin: 30px 0;
}

.templateItem {
  margin: 10px 0;
}

.templateLabel {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.radioInput {
  margin: 3px;
  cursor: pointer;
}

.emptyResult {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 15px;
}

.buttonBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
