.button {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;

  color: var(--white);
  cursor: pointer;
  display: inline-block;

  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 500;
  min-width: 100px;

  outline: none;
  padding: 6px 16px;
  position: relative;

  text-align: center;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
  user-select: none;
  vertical-align: middle;

  &.default {
    color: var(--base-10);
    box-shadow: var(--shadow-buttons);
    background-color: var(--gray-10);
    border: 1px solid var(--gray-10);

    &:hover {
      color: var(--white);
      background-color: var(--gray-11);
      border: 1px solid var(--gray-11);
      box-shadow: var(--shadow-buttons);

      .startIcon,
      .endIcon {
        color: var(--white);
      }
    }

    &:active {
      background-color: var(--gray-11);
      border: 1px solid var(--gray-11);
    }

    &:disabled {
      background-color: var(--gray-19);
      border-color: var(--gray-19);
      box-shadow: none;
      color: var(--base-14);
      cursor: text;
    }

    &:enabled {
      cursor: pointer;
    }

    .startIcon,
    .endIcon {
      color: var(--base-10);
    }
  }

  &.outlined {
    color: var(--gray-10);
    border: 1px solid var(--gray-10);
    .startIcon,
    .endIcon {
      color: var(--gray-10);
    }

    &:hover {
      border-color: var(--gray-11);
      background-color: var(--base-10);
    }

    &:active {
      border-color: var(--gray-11);
      background-color: var(--base-10);
    }
    &:enabled {
      cursor: pointer;
    }
    &:disabled {
      color: var(--black-08);
      border: 1px solid var(--black-09);
      cursor: text;
    }
  }

  &.alert {
    color: var(--white);
    background-color: var(--red-80);
    border-color: var(--red-80);
    box-shadow: var(--shadow-buttons);

    &:hover {
      color: var(--white);
      background-color: var(--red-81);
      border-color: var(--red-81);
      box-shadow: var(--shadow-buttons);

      .startIcon,
      .endIcon {
        color: var(--white);
      }
    }

    &:active {
      background-color: var(--red-01);
      border-color: var(--red-01);
    }

    &:disabled {
      box-shadow: none;
      color: var(--base-14);
      background-color: var(--red-20);
      border-color: var(--red-20);
      cursor: text;
    }
    &:enabled {
      cursor: pointer;
    }
  }

  &.iconButton {
    border-radius: 50%;
    font-size: 26px;
    line-height: 26px;
    min-width: 26px;
    width: 26px;
    min-height: 26px;
    height: 26px;
    text-align: center;
    border: 0;
    padding: 0;

    color: var(--black-01);
  }
}

.startIcon,
.endIcon {
  display: inline;
  svg {
    vertical-align: baseline;
  }
}

.startIcon {
  margin-right: 10px;
}

.endIcon {
  margin-left: 10px;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btnSmall {
  font-size: 13px;
  min-height: 26px;
  padding: 4px 10px;

  .startIcon,
  .endIcon {
    svg {
      width: 8px;
      height: 8px;
    }
  }
}

.btnMedium {
  font-size: 14px;
  min-height: 35px;
  padding: 6px 16px;
}

.btnLarge {
  font-size: 15px;
  min-height: 39px;
  padding: 8px 22px;
  .startIcon,
  .endIcon {
    svg {
      width: 11px;
      height: 11px;
    }
  }
}
