.constrols {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}

.projectSelectContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 15px;
}

.projectTitle {
  margin-right: 10px;
  color: var(--gray-10);
}

.selectControl {
  margin-right: 15px;
  min-width: 300px;
  margin-bottom: 0;
}

.selectInput {
  min-height: 35px;
  & > div {
    padding: 0px 10px;
  }
}

.buttonTopContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.button {
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }
}

.checkbox {
  margin-left: 50px;
  width: 100%;
}

.datePicker input {
  cursor: default;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--black-01);
  border: 1px solid var(--gray-20);
  padding: 0px 10px;
  min-height: 38px;
  width: 100px;
  border-radius: 4px;
}

.passingDateTitle {
  width: 100%;
  margin-right: 10px;
  color: var(--gray-10);
}
