.projectInterview {
  width: 100%;
  border-bottom: 1px solid var(--gray-22);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  padding: 0 0 5px 0;
  margin-bottom: 8px;
  cursor: pointer;
}

.projectInterviewContainer {
  width: 100%;
  align-items: center;
  color: var(--gray-10);

  display: flex;
  justify-content: space-between;

  &:hover {
    color: var(--black-00);
  }
}

.projectInterviewContent {
  word-wrap: break-word;
  word-break: break-all;
  font-size: 16px;
}

.projectInterviewInfoContent {
  font-size: 12px;
  color: var(--gray-21);
}

.projectInterviewIcon {
  color: var(--gray-10);
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.projectInterviewInfoIcon {
  width: 16px;
  color: var(--gray-21);
  margin-right: 8px;
}

.projectInterviewInformation {
  display: flex;
  margin-left: 20px;
  padding-right: 2px;
}

.projectInterviewDate {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.projectInterviewCreator {
  display: flex;
  align-items: center;
}

.projectInterviewTitle {
  display: flex;
  align-items: center;
}

.projectInterviewStatus {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 88px;
  margin-left: 15px;
}
