.radio {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-right: 5px;
  cursor: pointer;

  &:hover {
    .iconWrapper {
      opacity: 1;
    }
  }

  .input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: pointer;
    opacity: 0;
  }

  .radioWrapper {
    width: 30px;
    height: 30px;
    border: 1px solid var(--gray-10);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
  }

  .checked {
    background-color: var(--gray-10);
    color: var(--white);
  }
}
