@import "../../../assets/styles/constants.scss";


.page {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  min-width: 1024px;
  background-color: var(--base-00);
}

.inner {
  align-self: flex-end;
  padding: 60px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex: 1;
}

.preview {
  height: 500px;
  width: 500px;
  flex: 1;
}

.logo {
  height: 60px;
  width: 150px;

  filter: grayscale(1) opacity(0.8);
}

.logoText {
  max-width: 300px;
  line-height: 24px;
  color: var(--gray-21);
}

.logoTitle {
  margin-top: 20px;
  font-size: 96px;
  line-height: 108px;
  font-weight: 700;
  color: var(--gray-00);

  &:first-letter {
    color: var(--red-80);
  }
}

.form {
  border-radius: 8px;
  padding: 40px 50px;
  margin-left: 24px;
  width: 372px;
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--white);
  box-shadow: var(--shadow-elevation-1);
}

.title {
  margin-bottom: 16px;
}

.errorContainer {
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
}

.errorMessage {
  position: absolute;
  bottom: 0;
}

.eyeIcon {
  cursor: pointer;
}

.button {
  align-self: center;
  width: 100%;
  font-size: 16px;
  height: 42px;
}

.footer {
  width: 100%;
  padding: 16px 32px;
  display: flex;
  justify-content: center;
}

.text {
  color: var(--gray-20);
  user-select: none;
}

@media all and (min-width: $desktop-min-width) {
  .inner {
    justify-content: space-around;
  }

  .preview {
    max-height: 600px;
    max-width: 600px;
  }
}
