.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px;
  max-width: 500px
}

.title {
  margin-bottom: 35px;
  font-size: 24px;
}


.buttonBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.button {
  width: 100px;
  margin-left: 20px;
}

.feedbackField {
  resize: none;
  height: 150px;
}