.trigger {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0 10px;

  &:hover{ 

   .buttonContainer{
      opacity: 1;
      visibility: visible;
    }
  }
}

.foldersNameContainer {
  display: flex;
  align-items: center;
}

.folderIcon {
  width: 30px;
  margin-right: 10px;
  color: var(--gray-20);
}

.buttonContainer {
  opacity: 0;
  visibility: hidden;
  transition: all .15s ease-in-out;
  display: flex;
  align-items: center;
}

.button {
  margin-left: 4px;
  min-width: 105px;
}
