.container {
  width: 290px;
  min-height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--base-14);
  margin: 10px 20px 10px 0;
  padding: 40px;
  border-radius: 4px;
}

.option {
  display: flex;
  cursor: pointer;
  margin-bottom: 14px;
  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }
}

.icon {
  margin-right: 8px;
  color: var(--blue-10);
}
