.container {
  display: flex;
  align-items: center;
  height: 42px;
  min-width: 700px;
  max-width: 900px;
  background-color: var(--white);
  border: 1px solid transparent;
  box-shadow: var(--shadow-elevation-1);
  cursor: pointer;
  padding: 8px 16px;
  margin-bottom: 4px;
  border-radius: 5px;

  &:hover {
    background-color: var(--white-01);
    transition: all 0.15s ease-in-out;

    .controls {
      opacity: 1;
      visibility: visible;
    }
  }
}

.fullName {
  width: 240px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.englishLevel {
  width: 150px;
}

.controls {
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s ease-in-out;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  flex: 1;
}

.icon {
  width: 18px;
  height: 18px;
  margin-left: 16px;

  &:hover {
    color: var(--blue);
  }
}

.smgIcon {
  width: 26px;
  height: 18px;
  margin-left: 16px;

  &:hover {
    color: var(--blue);
  }
}

.disabledIcon {
  color: var(--gray-20);

  &:hover {
    color: var(--gray-20);
  }
}

.removeIcon {
  &:hover {
    color: var(--red-80);
  }
}

.tooltip {
  color: var(--gray-10);
  background-color: var(--white);
  padding: 5px 20px;
  border: 1px solid var(--gray-20);
  border-radius: 5px;
  max-width: 400px;
  max-height: 300px;
  margin-bottom: 6px;
}
