.titleWrapper {
  display: flex;
  justify-content: space-between;
}

.title {
  flex: 1;
  color: var(--gray-10);
  line-height: 30px;
}

.statsContainer {
  margin-bottom: 20px;
  width: 100%;
}

.stats {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.passingDate {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.statsUserInfo {
  gap: 30px;
}

.userIcon {
  color: var(--gray-10);
  height: 30px;
  width: 30px;
  margin-right: 8px;
}

.userName {
  color: var(--gray-10);
  margin-right: 8px;
}

.statsIconSmall {
  color: var(--gray-21);
  margin-right: 8px;
  height: 16px;
  width: 16px;
}

.statsText {
  color: var(--gray-21);
  margin-right: 8px;
  font-size: 14px;
}

.result {
  display: flex;
  gap: 5px;
  margin-top: 20px;
}

.editButton {
  margin-right: 20px;
}

.interviewStatus {
  display: flex;
  gap: 30px;
}

@media print {
  .editButton,
  .exportPdfButton {
    display: none;
  }
}
