.loading{
  position: absolute;
  top: 50%;
  left: calc(50% + 125px);
  transform: translate(-50%, -50%);
}

.inner {
  height: 100%;
}

.interviewsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  border-radius: 4px;
  padding: 20px;
}

.interviewCard {
  padding: 0 0 15px 0;
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--gray-22);
}

.interviewCardHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.interviewTitle {
  color: var(--gray-10);
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 6px;
}

.interviewDate {
  color: var(--gray-21);
  display: flex;
  align-items: center;
}

.interviewIconDate {
  margin-right: 6px;
}

.feedbackByCreator {
  color: var(--gray-21);
  margin-top: 10px;
}

.interviewCardRate {
  font-weight: 700;
  color: var(--gray-10);
}

.ratingTotal {
  height: 38px;
  width: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border: 1px solid var(--gray-10);
  border-radius: 4px;
  line-height: 28px;
}

.interviewCardComment {
  margin-bottom: 15px;
}

.interviewComment{
  white-space: pre-wrap;
}

.interviewCardFooter {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.noInterviews {
  color: var(--gray-21);
  display: flex;
  align-items: center;
  height: 100%;

  h3 {
    font-weight: 400;
  }
}

.noInterviewsIcon {
  margin-right: 10px;
}

.subtitle {
  color: var(--gray-10);
  margin-bottom: 6px;
}
