.card {
  margin: 10px 20px 10px 0;
  height: 260px;
  width: 290px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  background: var(--white);
  box-shadow: var(--shadow-buttons);
}

.cardHeader {
  flex: 1 1 auto;
  display: flex;
}

.cardMain {
  display: flex;
  flex-flow: column nowrap;
}

.cardFooter {
  background-color: var(--blue-01);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 10px 14px;

  .infoRow {
    margin-bottom: 0;
  }
}

.cardMenu {
  text-align: right;
  padding: 14px 8px 0 0px;
}

.cardTitleWrap {
  overflow: hidden;
  margin-bottom: 14px;
  margin-right: 6px;
  flex: 1;
  padding: 14px 0 0 14px;
}

.cardTitle {
  color: var(--gray-10);
  font-weight: 700;
  line-height: 24px;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.icon {
  color: var(--gray-21);
  flex-basis: 20px;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
}

.iconIndent {
  margin-right: 8px;
}

.iconUser {
  color: var(--gray-21);
}

hr {
  border: none;
  background-color: var(--base-14);
  height: 1px;
  width: 272px;
  margin: 0 auto;
}

.infoBlock {
  display: flex;
  flex-flow: column nowrap;
  padding: 10px 14px 4px 14px;
}

.nameTooltip{
  background-color: var(--white);
  padding: 5px 20px;
  border: 1px solid var(--gray-20);
  border-radius: 5px;
  max-height: 300px;
  margin-bottom: 6px;
  word-break: keep-all;
}

.nameTooltipText{
  color: var(--gray-10);
}

.infoRow {
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }
}

.buttonRowContainer {
  display: flex;
  justify-content: space-between;
}

.buttonAlignRight {
  justify-content: flex-end;
}

.clickable {
  cursor: pointer;
}

.tooltip {
  background-color: var(--white);
  border-radius: 4px;
  padding: 10px;
  box-shadow: var(--shadow-buttons);
}

.tooltipText {
  color: var(--gray-10);
  background-color: var(--white);
  padding: 5px 20px;
  border: 1px solid var(--gray-20);
  border-radius: 5px;
  max-width: 200px;
  max-height: 300px;
  margin-bottom: 6px;
  word-break: keep-all;
}

.tooltipItem {
  cursor: pointer;

  &:hover {
    color: var(--blue);
    transition: all 0.15s ease-in-out;

    .tooltipIcon {
      fill: var(--blue);
    }
  }
}

.tooltipRow {
  display: flex;
  margin-bottom: 6px;
  align-items: center;
  cursor: pointer;

  &:hover {
    color: var(--blue);
    transition: all 0.15s ease-in-out;

    .tooltipIcon {
      fill: var(--blue);
    }
  }

  &.noHoverLightning {
    &:hover {
      color: var(--black-01);
    }
  }
}

.dateRow{
  margin-top: 8px;
}

.tooltipIcon {
  width: 14px;
  height: 14px;
  margin-right: 6px;
}

.userName {
  word-break: initial;
  word-wrap: initial;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.date {
  align-items: center;
}
