@import '../../../../../assets/styles/constants.scss';

.item {
  display: flex;
  align-items: center;
  padding: 0px 16px;
}

.itemText {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.iconItem {
  justify-content: center;
}

.loading {
  position: absolute;
  top: 50%;
  left: calc(50% + 125px);
  transform: translate(-50%, -50%);
}

.tooltip {
  background-color: var(--white);
  padding: 8px 16px;
  box-shadow: var(--shadow-buttons);
  border-radius: 5px;
}

.tooltipItem {
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-bottom: 6px;

  &:last-of-type {
    margin-bottom: 0;
  }

  &:hover {
    .tooltipItemIcon {
      color: var(--gray-00);
    }

    .tooltipItemText {
      color: var(--gray-00);
    }
  }
}

.tooltipItemIcon {
  color: var(--gray-10);
  width: 16px;
  height: 16px;
}

.tooltipItemText {
  color: var(--gray-10);
  margin-left: 5px;
}

.infoMessage {
  width: 100%;
  height: 60px;
  padding: 20px;
  background-color: var(--white);
  display: flex;
  align-items: center;
}


.infoMessageIconWrap {
  margin-right: 8px;
  border-radius: 50%;
  border: 1px solid var(--gray-21);
  padding: 2px;

}

.infoMessageIcon {
  color: var(--gray-21);
  width: 20px;
  height: 20px;
}

.infoMessageText {
  color: var(--gray-21);
  font-weight: 400;
}

@media screen and (max-width: $tablet-max-width) {
  .table {
    margin-top: 24px;
  }
}
