.loading{
  position: absolute;
  top: 50%;
  left: calc(50% + 125px);
  transform: translate(-50%, -50%);
}

.interviews {
  display: flex;
  flex-wrap: wrap;
}

.title {
  margin: 16px 10px;
  color: var(--gray-10);
}

.infoMessage {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.infoMessageIconWrap {
  margin-right: 8px;
  border-radius: 50%;
  border: 1px solid var(--gray-21);
  padding: 2px;
}

.infoMessageIcon  {
  color: var(--gray-21);
  width: 20px;
  height: 20px;
}

.infoMessageText {
  color: var(--gray-21);
  font-weight: 400;
}