.titleContainer {
  margin-bottom: 10px;
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
}

.buttonContainer {
  display: flex;
  align-items: center;
  margin: 30px 0 15px;

  button {
    margin-right: 12px;
  }

  svg {
    width: 10px;
    height: 10px;
  }
}

.questionsGroupContainer {
  width: 100%;
}

.openedFirst {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.opened {
  border-right: 1px solid transparent;
}

.closedFirst {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.closed {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid transparent;
}
