.page {
  padding-top: 12px;
}

.returnButton {
  display: flex;
  align-items: center;
}

.returnIcon {
  svg {
    width: 20px;
    height: 20px;
  }
}

.logoWrapper {
  display: none;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}

.logo {
  display: block;
  width: 120px;
  height: 86px;
}

.topContainer {
  display: flex;
  justify-content: space-between;
}

.topContainerManager {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 5px;
}

.buttonTopContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.button {
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
    min-width: 116px;
  }
}

@media print {
  .returnButton {
    display: none;
  }
  .logoWrapper {
    display: flex;
  }
}

@page {
  margin: 1cm 0.5cm;
}
