.dataRow {
  display: flex;
}

.dataItem {
  color: var(--gray-21);
  margin-right: 4px;
}

.modal {
  display: flex;
  flex-direction: column;
  padding: 30px;
  max-height: 700px;
  width: 600px;
}

.title {
  margin-bottom: 15px;
  font-size: 24px;
}

.managersList {
  display: flex;
  margin-bottom: 24px;
  align-items: baseline;
  color: var(--gray-10);
}

.managers {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  margin-left: 8px;
}

.managerName {
  line-height: 24px;
  margin-right: 6px;
}

.employeesData {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.oldData,
.newData {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.employeeTitle {
  margin-bottom: 4px;
}

.button {
  width: 220px;
}

.buttonBar {
  display: flex;
  margin-bottom: 24px;
}
.buttonBarWrap {
  width: 50%;
}
