.modal {
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-height: 300px;
  max-height: 700px;
  width: 60%;
}

.loading {
  transform: translateY(50%);
  flex: 1;
  align-self: center;
}

.title {
  color: var(--gray-00);
  margin-bottom: 15px;
  font-size: 24px;
}

.thumb {
  margin-right: -20px;
}

.inner {
  flex: 1;
  overflow-y: auto;
}

.feedback {
  display: flex;
  border-bottom: 1px solid var(--gray-22);
  padding: 14px 0;
  margin-bottom: 14px;
}

.feedbackContent {
  flex: 1;
}

.feedbackTime {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-right: 20px;
  color: var(--gray-10);
}

.date {
  color: var(--gray-10);
  margin-top: 4px;
}

.feedbackTitle {
  color: var(--gray-00);
  margin-bottom: 12px;
  font-weight: 700;
}

.feedbackComment {
  color: var(--gray-10);
  margin-bottom: 6px;
  white-space: pre-wrap;
}

.feedbackFooter {
  display: flex;
  justify-content: flex-end;
}

.buttonBar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.noFeedback {
  color: var(--gray-21);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  h3 {
    font-weight: 400;
  }
}

.noFeedbackIcon {
  margin-right: 10px;
}

.ScrollWrapper {
  flex: 1 1 auto;
}

.feedbackHeader {
  display: flex;
  justify-content: space-between;
}

.ratingTotal {
  border: 1px solid var(--gray-10);
  border-radius: 4px;
  padding: 4px;
  height: 34px;
  width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
