.modal {
  display: flex;
  flex-direction: column;
  min-height: 300px;
}

.loading {
  transform: translateY(50%);
  flex: 1;
  align-self: center;
}

.title {
  color: var( --gray-00);
  margin-bottom: 30px;
  font-size: 24px;
}

.content{
  flex: 1;
}

.row {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}


.buttonBar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.button {
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}
