.question {
  width: 90%;
  min-height: 40px;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 0 5px 40px;
  padding-bottom: 5px;

  &:hover {
    .buttonContainer {
      opacity: 1;
      visibility: visible;
    }
  }
}

.questionContainer {
  display: flex;
  align-items: center;
}

.questionContent {
  word-wrap: break-word;
  word-break: break-all;
}

.questionIcon {
  min-width: 24px;
  margin-right: 10px;
}

.buttonContainer {
  min-width: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 10px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s ease-in-out;
}

.tooltipComent {
  background-color: var(--white);
  padding: 5px 20px;
  border: 1px solid black;
  border-radius: 5px;
  max-width: 400px;
  max-height: 300px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--gray-11);
    border-radius: 5px;
  }
}

.tooltipText {
  word-wrap: break-word;
  white-space: pre-wrap;
}

.iconButton {
  width: 18px;
  height: 18px;
  cursor: pointer;
  margin-left: 10px;

  &:hover {
    color: var(--blue);
  }
}

.removeButton {
  &:hover {
    color: var(--red-80);
  }
}

.iconButtonCheck,
.iconButtonAdd {
  vertical-align: initial;
}

.iconButtonCheck {
  color: var(--green);

  &:hover {
    color: var(--green);
    cursor: initial;
  }
}

.iconButtonAdd {
  color: var(--blue-10);

  &:hover {
    color: var(--blue);
  }
}

.button {
  margin-left: 6px;
}

.tooltip {
  background-color: white;
  padding: 5px 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.tooltipLinkContainer {
  display: flex;
  align-items: center;

  svg {
    width: 14px;
    height: 14px;
  }
}

.tooltipLink {
  padding: 5px;
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    color: var(--red-80);
  }
}
