.questionItem {
  position: relative;
  &:hover {
    .addHotQuestion {
      opacity: 1;
    }
  }
}

.addHotQuestion {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 2px 0;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: var(--gray-22);
    z-index: 0;
  }
}

.addIcon {
  cursor: pointer;
  display: inline-block;
  width: 28px;
  height: 28px;
  color: var(--gray-22);
  position: relative;
  z-index: 2;
  border-radius: 50%;
  border: 4px solid var(--base-10);
  background-color: var(--base-10);

  &:hover {
    color: var(--gray-21);
  }
}

.question {
  width: 100%;
  min-height: 40px;
  display: flex;
  flex-direction: column;
  padding: 14px;
  background: var(--white);
  border-radius: 4px;

  &:hover {
    .questionMenu {
      display: block;
    }
  }
}

.questionContainer {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.questionWrapper {
  display: flex;
  align-items: flex-start;
  flex: 1;
}

.questionIcon {
  min-width: 24px;
  margin-right: 10px;
}

.titleInfo {
  display: flex;
  align-items: center;
}

.questionContent {
  font-size: 20px;
  word-break: break-word;
  line-height: 24px;
}

.order {
  margin-left: 15px;
  color: var(--gray-21);
  line-height: 1;
}

.questionMenu {
  display: none;
  cursor: pointer;
  color: var(--gray-21);
  width: 18px;
  height: 18px;
  &:hover {
    color: var(--gray-11);
  }
}

.commentContainer {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 34px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.commentContent {
  color: var(--gray-21);
  word-break: break-word;
  white-space: pre-wrap;
}

.buttonContainer {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.selectedButton {
  background-color: var(--red-00);
}

.delimiter {
  margin: 0 10px;
}

.answerField {
  resize: none;
  height: 100px;
  border-color: var(--gray-22);
}

.ratingRadioFieldControl {
  margin-bottom: 0;
}

.formControl {
  margin-bottom: 14px;
}

.questionRowWrapper {
  display: flex;
  align-items: flex-end;
}

.tooltip {
  background-color: var(--white);
  padding: 8px 16px;
  box-shadow: var(--shadow-buttons);
  border-radius: 5px;

  .tooltipButton {
    margin-right: 6px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.tooltipItem {
  display: flex;
  cursor: pointer;
  margin-top: 6px;
  align-items: center;

  &:first-of-type {
    margin-top: 0;
  }

  &:hover {
    .tooltipItemIcon {
      color: var(--gray-10);
    }

    .tooltipItemText {
      color: var(--gray-10);
    }
  }
}

.tooltipItemIcon {
  color: var(--gray-21);
  width: 16px;
  height: 16px;
}

.tooltipItemText {
  color: var(--gray-21);
  margin-left: 5px;
}

.tooltipButton {
  width: 150px;
}
