@import "../../../assets/styles/constants.scss";

.typography {
  font-family: "Lato", "Helvetica", "Arial", sans-serif;
}

.h1{
  font-size: 30px;
  font-weight: 600;
}

.h2 {
  font-size: 20px;
  line-height: 24px;
}

.h3 {
 font-size: 18px;
}

.h4 {
  font-size: 16px;
  line-height: 22px;
}

.subtitle {
  font-size: 15px;
  font-weight: 500;
}

.subtitle1 {
  font-size: 13px;
  font-weight: 500;
}

.body {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
}

.link {
  display: inline-block;
  font-size: 14px;
  line-height: 19px;
  text-decoration: underline;
  color: var(--blue-10);
  cursor: pointer;

  &:hover {
    color: var(--blue);
  }
}

.label {
  font-size: 14px;
  line-height: 19px;
}

@media screen and (max-width: $mobile-max-width) {
  .h1{
    font-size: 24px;
  }
}
