.templatesList {
  background-color: var(--white);
  border-radius: 4px;
  padding: 20px 10px;
}

.sharedTemplatesList {
  background-color: none;
}

.buttonBar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.infoMessage {
  display: flex;
  align-items: center;
}

.sharedTemplateTitle {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: var(--gray-21);
  font-weight: 400;
}

.infoMessageIconWrap {
  margin-right: 8px;
  border-radius: 50%;
  border: 1px solid var(--gray-21);
  padding: 2px;
}

.infoMessageIcon {
  color: var(--gray-21);
  width: 20px;
  height: 20px;
}

.infoMessageText {
  color: var(--gray-21);
  font-weight: 400;
}

.privateSharedTemplates,
.otherSharedTemplates {
  margin-bottom: 20px;
  background-color: var(--white);
  padding: 20px 10px;
}
