.paginationContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  gap: 5px;
  font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
  font-size: 13px;
}

.page {
  cursor: pointer;
  user-select: none;
  width: 30px;
  height: 30px;
  border: 1px solid var(--gray-10);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--white);
}

.activePage {
  background-color: var(--gray-10);
  color: var(--white);
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.break {
  cursor: pointer;
  user-select: none;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chevronIcon {
  width: 10px;
  height: 10px;
}

.chevronIconNext {
  margin-left: 2px;
  transform: rotate(90deg);
}

.chevronIconPrevious {
  margin-right: 2px;
  transform: rotate(-90deg);
}

.disabled {
  border: 1px solid var(--gray-20);
  color: var(--gray-20);
  background-color: inherit;
  cursor: default;
}
