.title {
margin-right: 10px;
}

.filterContainer {
  margin-bottom: 20px;
}

.searchInput {
  width: 250px;
  input {
    padding-right: 46px;
  }
}

.searchInputIcon {
  width: 20px;
  height: 20px;
  color: var(--gray-20);
}

