.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.imgWrap {
  width: 160px;
  height: 160px;
  position: relative;
  margin-bottom:30px;
}

.img {
  width: 96px;
  height: 96px;
  color: var(--gray-20);
}

.imgLock {
  width: 68px;
  height: 68px;
  color: var(--gray-20);
  position: absolute;
  top: -30px;
  bottom:0;
  right: 0;
  left:0;
  margin: auto;
}

.imgScreen {
  width: 160px;
  height: 160px;
  color: var(--gray-20);

  position: absolute;
  top: 0;
  bottom:0;
  right: 0;
  left:0;
  margin: auto;
}

.message {
  color: var(--gray-10);
  text-align: center;
}

.messageTitle {
  margin-bottom: 14px;
}