.table {
  display: flex;
  flex-flow: column nowrap;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  align-self: flex-start;
}

.headerItem {
  display: flex;
  align-items: center;
  color: grey;
  cursor: pointer;
  padding: 0px 16px;
}

.body {
  display: flex;
  flex-flow: column nowrap;
  align-self: flex-start;
}

.row {
  display: flex;
  justify-content: space-between;
  min-height: 32px;
  margin-bottom: 4px;
  padding: 8px 0;
  background-color: var(--white);
  border-radius: 5px;
  border: 1px solid transparent;
  box-shadow: var(--shadow-elevation-1);
  cursor: pointer;
  user-select: none;

  &:hover{
    background-color: var(white-01);
    transition: all .15s ease-in-out;
  }
}
