.modal {
  display: flex;
  flex-direction: column;
  padding: 30px;
  max-height: 690px;
  height: calc(100% - 20px);
}

.form {
  margin-right: 1px;
}

.title {
  margin-bottom: 15px;
  font-size: 24px;
}

.errorContainer {
  position: relative;
  margin: 0 5px;
}

.errorMessage {
  position: absolute;
  bottom: 5px;
}

.buttonBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputField {
  height: 50px;
}

.noMargin {
  margin-bottom: 4px;
}

.formLink {
  margin-bottom: 19px;
  display: inline-block;
  text-align: right;
  width: 100%;
}

.linkDisable {
  cursor: auto;
  color: var(--gray-20);

  &:hover {
    cursor: auto;
    color: var(--gray-20);
  }
}

.track {
  right: -30px;
}

.emailErrorContainer {
  width: 65%;
}
