.control {
  width: 100%;
  margin-bottom: 35px;
}

.header {
  position: relative;
  margin-bottom: 6px;
}

.label {
  color: var(--black-01);
}

.inner {
  position: relative;
}

.endAdornment {
  position: absolute;
  top: 0;
  right: 0;
}

.error {
  position: absolute;
  top: 100%;
  left: 0;
  width: max-content;
  max-width: 100%;
  margin-top: 3px;
}
