.control {
  width: 100%;
  padding: 5px 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  font-family: 'Lato', sans-serif;
  background-color: var(--white);
  border-radius: 4px;
  outline: none;
  transition: border 0.15s ease-out;
  color: var(--black-01);
  border: 1px solid var(--gray-20);

  position: relative;
  display: flex;
  align-items: center;

  &:active,
  &:focus {
    border: 1px solid var(--gray-21);
  }
}

.container {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  min-height: 48px;
}

.menu {
  margin-top: 8px;
  padding: 8px 0 0 0;
  border-radius: 4px;
  background-color: var(--white);
  border: 1px solid var(--gray-20);
}

.menuList {
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--gray-11);
    border-radius: 5px;
  }
}

.valueContainer {
  display: flex;
  flex: 1;
  flex-flow: row wrap;
  align-items: center;
}

.option {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 10px;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  line-height: 28px;
  cursor: pointer;
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;

  &:hover {
    background-color: var(--base-14);
  }
}

.noOption {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}
