.template {
  width: 100%;
  min-height: 40px;
  border-bottom: 1px solid var(--gray-22);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  padding: 5px;
  margin-bottom: 8px;
  cursor: pointer;

  &:hover {
    .buttonContainer {
      opacity: 1;
      visibility: visible;
    }
  }
}

.templateContainer {
  display: flex;
  align-items: center;
  color: var(--gray-10);

  &:hover {
    color: var(--black-00);
  }
}

.templateContent {
  word-wrap: break-word;
  word-break: break-all;
}

.templateIcon {
  min-width: 24px;
  margin-right: 10px;
}

.buttonContainer {
  min-width: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s ease-in-out;
  margin-left: 9px;
}

.button {
  margin-left: 6px;
}

.icon {
  width: 18px;
  height: 18px;
  margin-left: 16px;
  cursor: pointer;

  &:hover {
    color: var(--blue);
  }
}

.removeIcon {
  &:hover {
    color: var(--red-80);
  }
}

.tooltip {
  color: var(--gray-10);
  background-color: var(--white);
  padding: 5px 20px;
  border: 1px solid var(--gray-20);
  border-radius: 5px;
  max-width: 400px;
  max-height: 300px;
  margin-bottom: 6px;
}

.templateInformation {
  display: flex;
  flex-direction: column;
  color: var(--gray-21);
}
