
.titleContainer {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  position: relative;
}

.title {
  font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
  font-size: 30px;
  line-height: 36px;
  min-height: 48px;
  max-width: 1000px;
  min-width: 10px;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 26px;
  color: var(--gray-00);
  position: relative;

  &:hover,
  &:focus,
  &:focus-within {
    .titleEditInput {
      visibility: visible;
    }
  }
}

.hiddenValue {
  visibility: hidden;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 400;
  display: block;
  padding: 6px 25px 6px 6px;
}

.formControl {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
}

.titleEditInput {
  font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
  background: var(--base-10);

  &:focus-within {
    background-color: var(--white);
  }

  input {
    outline: none;
    font-size: 30px;
    line-height: 36px;
    height: 46px;
    color: var(--gray-00);
    padding: 5px 35px 5px 5px;
    border-color: transparent;
    background: transparent;
    text-overflow: ellipsis;
    z-index: 2;

    &:focus {
      border-color: var(--gray-10);
    }

    &:hover {
      border-color: var(--gray-20);
    }
    &::placeholder {
      font-size: 30px;
      line-height: 36px;
      color: var(--gray-20);
      padding: 5px 35px 5px 5px;
    }
  }
  &.errorInput {
    border: 1px solid var(--red-30);
    border-radius: 5px;

    input {
      border: none;
      font-weight: 400;
    }
  }
}

.endAdornment {
  top: calc(2px + 50%);
  right: 10px;
  z-index: 1;
}

.titleEditIcon {
  color: var(--gray-20);
  display: block;
  width: 18px;
  height: 18px;
}

.errorMessage {
  position: absolute;
  top: 50px;
}