.returnButton {
  display: flex;
  align-items: center;
}

.returnIcon {
  svg {
    width: 20px;
    height: 20px;
  }
}

.page {
  padding-top: 20px;
}

.header {
  display: flex;
}

.title {
  flex: 1;
  color: var(--gray-10);
  line-height: 30px;
}

.button {
  margin-left: 12px;
}

.stats {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.statsUserInfo {
  margin-top: 20px;
}

.userIcon {
  color: var(--gray-10);
  height: 30px;
  width: 30px;
  margin-right: 8px;
}

.userName {
  color: var(--gray-10);
  margin-right: 8px;
}

.ratingTotal {
  border: 1px solid var(--gray-10);
  border-radius: 4px;
  padding: 4px;
  height: 34px;
  width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.statsIcon {
  color: var(--gray-21);
  margin-right: 8px;
}

.statsIconSmall {
  color: var(--gray-21);
  margin-right: 8px;
  height: 16px;
  width: 16px;
}

.statsText {
  color: var(--gray-21);
  margin-right: 8px;
  font-size: 14px;
}

.main {
  margin-top: 28px;
}

.subtitle {
  color: var(--gray-10);
}

.text {
  margin-top: 8px;
  white-space: pre-wrap;
}

.items {
  margin-top: 16px;
}

.item {
  min-width: 340px;
  border-radius: 5px;
  background-color: var(--white);
  padding: 8px 16px;
  margin-bottom: 4px;
  cursor: pointer;
  box-shadow: var(--shadow-group);
}

.openedItem {
  min-width: 340px;
  border-radius: 5px;
  background-color: var(--white);
  padding: 12px 16px;
  margin-bottom: 4px;
  cursor: pointer;
  box-shadow: var(--shadow-group);
}

.trigger {
  display: flex;
  align-items: center;
}

.triggerIcon {
  margin-right: 8px;
}

.triggerIconForPrint {
  display: none;
  margin-right: 8px;
}

.questionText {
  flex: 1;
}

.ratingItem {
  border: 1px solid var(--gray-10);
  border-radius: 4px;
  padding: 2px;
  height: 28px;
  width: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chevronIcon {
  margin-left: 20px;
}

.inner {
  margin-top: 8px;
  border-top: 1px solid;
}

.commentText {
  margin-top: 4px;
  color: var(--gray-21);
  white-space: pre-wrap;
}

.feedbacks {
  display: flex;
  margin-top: 8px;
}

.feedback {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  margin-right: 24px;

  &:last-of-type {
    margin-right: 0;
  }
}

.feedbackHeader {
  display: flex;
  align-items: center;
}

.blockIcon {
  margin-left: 4px;
  height: 22px;
  width: 22px;
}

.feedbackText {
  margin-top: 4px;
  white-space: pre-wrap;
}

.warningIcon {
  margin-right: 8px;
}

.feedbackWaringMessage {
  padding: 10px;
  color: var(--gray-21);
}

.employeeFeedback {
  margin-right: 16px;
}

.logoWrapper {
  display: none;
  width:100%;
  align-items: center;
  justify-content: flex-end;

}
.logo {
  display: block;
  width: 120px;
  height: 86px;
}

@media print {
  .chevronIcon,
  .buttonsContainer,
  .privateFeedback {
    display: none;
  }

  .returnButton {
    display: none;
  }

  .openedItem {
    break-after: avoid;
    margin-top: 10px;
    break-inside: avoid;
    box-shadow: none;
    background-color: var(--base-10);
  }
  .logoWrapper {
    display: flex;
  }

  .noPrinting {
    display: none;
  }

  .triggerIconForPrint {
    display: block;
  }
  .triggerIcon {
    display: none;
  }
}

@page {
  margin: 1cm 0.5cm;
}
