.trigger {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 12px 10px;
}

.projectNameContainer {
  display: flex;
  align-items: center;
}

.projectIcon {
  width: 24px;
  margin-right: 8px;
  color: var(--gray-20);
}
.projectListItem {
  border-radius: 5px;
  background-color: var(--white);
  margin-bottom: 4px;
  box-shadow: var(--shadow-group);
}

.openedProjectListItem {
  border-radius: 5px;
  background-color: var(--white);

  margin-bottom: 4px;
  box-shadow: var(--shadow-group);
}

.projectInterviewsContainer {
  padding: 0 10px 20px 44px;
}

.chevronIcon {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  color: var(--gray-20);
}

fieldset {
  display: flex;
  border: 1px solid var(--gray-22);
  color: var(--gray-11);
  margin-bottom: 15px;
  font-family: "Lato", "Helvetica", "Arial", sans-serif;
}

.filterCheckbox {
  margin-right: 28px;
}
