.loading {
  position: absolute;
  left: calc(50% + 125px);
  top: 50%;
  transform: translate(-50%, -50%);
}

.page {
  min-width: 768px;
}

.form {
  display: flex;
  justify-content: space-between;
}

.interviewItem {
  border: 1px solid var(--black-00);
}

.commentsContainer {
  order: 2;
  width: 35%;
  height: fit-content;
  min-width: 230px;
  padding: 14px;
  position: sticky;
  top: 50px;
  background-color: var(--white);
  border-radius: 4px;
}

.mainInfo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 15px;
}

.userInfo {
  display: flex;
  margin-right: 6px;
  flex: 1 1 auto;
}

.userIcon {
  margin-right: 10px;
  color: var(--gray-20);
  flex: 0 0 24px;
  width: 20px;
  height: 20px;
}

.nameText {
  word-break: break-word;
}

.time {
  display: flex;
  align-items: center;
  color: var(--gray-20);
  align-self: flex-end;
}

.clockIcon {
  height: 20px;
  width: 20px;
  margin-right: 7px;
  flex: 0 0 20px;
}

.comments {
  margin-top: 8px;
}

.commentsTitle {
  margin-bottom: 5px;
}

.commentsField {
  height: 350px;
  resize: none;
  word-break: break-word;
}

.buttonBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button:first-child {
  margin-right: 5px;
}

.buttonBottomContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 8px;
}
