.radio {
  position: relative;
  cursor: pointer;

  &.radioWithLabel {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  &.radioDisabled {
    opacity: .32;
    pointer-events: none;
  }

  &:hover {

    .iconWrapper {
      border-color: var(--blue-10);
    }
  }

  &:active {

    .iconWrapper {
      border-color: var(--blue);
    }
  }
}

.field {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
  opacity: 0;

  &:checked + .iconWrapper {
    border: 2px solid var(--blue-10);

    .icon {
      opacity: 1;
    }
  }
}

.iconWrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  border: 2px solid var(--gray-21);
  border-radius: 50%;
  transition: all .15s ease-out;
}

.icon {
  width: 12px;
  height: 12px;
  background-color: var(--blue-10);
  border-radius: 50%;
  opacity: 0;
  transition: all .15s ease-out;
  // transform: translate(1px, 1px);
}

.label {
  flex: 1;
  margin-left: 12px;
}
