@import "../../../assets/styles/constants.scss";

.layout {
  display: flex;
  flex-flow: row nowrap;
  height: 100vh;
  overflow: hidden;
}

.scroll {
  flex: 1;
  background-color: var(--base-10);
}

.inner {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  overflow: auto;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main {
  flex: 1;
  padding: 0px 20px 20px;
}

.title {
  padding: 30px 20px;
  color: var(--gray-10);
}

.titleHide {
  display: none;
}

@media screen and (max-width: $tablet-max-width) {
  .title {
    padding: 20px;
  }
}

@media print {
  .title {
    display: none;
  }
}
