@import "../../../../assets/styles/constants.scss";

.menu {
  flex:1;
  padding-top: 20px;
}

.menuItem {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding:  20px;
  color: var(--gray-20);

  &:hover {
    color: var(--white);
    .menuIcon {
      color: var(--white);
    }
  }
}

.menuItemActive {
  color: var(--white);
  background: var(--gray-01);

  .menuIcon {
    color: var(--white);
  }
}

.menuIcon {
  color: var(--gray-20);
  margin-right: 14px;
}

.menuItemText {
  display: block;
}

@media screen and (max-width: $tablet-max-width) {
  .menuItem, .menuActive {
    justify-content: center;
  }
  .menuItemText {
    display: none;
  }

  .menuIcon {
    margin-right: 0;
  }
}

