@import "../../../assets/styles/constants.scss";


.loading {
  position: absolute;
  top: 50%;
  left: calc(50% + 125px);
  transform: translate(-50%, -50%);
}

.button {
  margin-top: 16px;
  margin-right: 20px;
  svg {
    width: 10px;
    height: 10px;
  }
}

.searchInput {
  width: 250px;
  margin-top: 32px;
  input {
    padding-right: 46px;
  }
}

.searchInputIcon {
  width: 20px;
  height: 20px;
  color: var(--gray-20);
}

.headersPart {
  position: sticky;
  top: 0px;
  background-color: var(--base-10);
  padding-bottom: 15px;
  min-width: 700px;
}

.title {
  padding: 30px 20px 30px 0;
  color: var(--gray-10);
  @media screen and (max-width: $tablet-max-width) {
    padding: 20px 20px 20px 0;
  }
}

.employeesContainer {
  margin-top: 5px;
}

.emptySearchResult {
  text-align: center;
  padding-top: 20px;
}

.buttonsBar {
  display: flex;
}

.infoMessage {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.infoMessageIconWrap {
  margin-right: 8px;
  border-radius: 50%;
  border: 1px solid var(--gray-21);
  padding: 2px;
}

.infoMessageIcon {
  color: var(--gray-21);
  width: 20px;
  height: 20px;
}

.infoMessageText {
  color: var(--gray-21);
  font-weight: 400;
}
