.tabs {
  display: flex;
  flex-flow: column nowrap;
}

.header {
  display: flex;
  align-items: center;
  align-self: flex-start;
  width:100%;
  border-bottom: 1px solid var(--gray-22);
}

.tab {
  margin-left: 4px;
  padding: 14px 12px;
  color: var( --gray-20);
  line-height: 1;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: all .15s ease-out;

  &:first-child {
    margin-left: 0;
  }

  &:not(.tabActive):hover {
    color: var(--blue-10);
  }

  &:active {
    border-bottom: 2px solid var(--blue-10);

  }

}

.tabActive {
  color: var(--blue-10);
  border-bottom: 2px solid var(--blue-10);
  font-weight: 700;
}

.tabDisabled {
  color: var( --gray-20);

  &:not(.tabActive):hover {
    color: var( --gray-20);
  }

  &:active {
    color: var( --gray-20);
    border-bottom: 2px transparent;
  }
}


.inner {
  flex: 1;
  margin-top: 24px;
}

.tabLarge {
  font-size: 20px;
}

.tabSmall {
  font-size: 14px;
}

.tooltip {
  color: var(--gray-10);
  background-color: var(--white);
  padding: 5px 20px;
  border: 1px solid var(--gray-20);
  border-radius: 5px;
  max-width: 400px;
  max-height: 300px;
  margin-bottom: 6px;
}
