.loading{
  position: absolute;
  top: 50%;
  left: calc(50% + 125px);
  transform: translate(-50%, -50%);
}


.interviews {
  display: flex;
  flex-wrap: wrap;
}

.title {
  margin: 16px 0;
  color: var(--gray-10);
}
