.loading {
  position: relative;
}

.inner {
  position: absolute;
  display: block;
  box-sizing: border-box;
  //border: 2px solid var(--white);
  //border-color: var(--white) transparent transparent transparent;
  border-radius: 50%;
  animation: loading 1.2s cubic-bezier(.5, 0, .5, 1) infinite;

  &.default {
    border: 2px solid var(--white);
    border-color: var(--white) transparent transparent transparent;
  }

  &.primary {
    border: 2px solid var(--red-00);
    border-color: var(--red-00) transparent transparent transparent;
  }

  &:nth-child(1) {
    animation-delay: -.45s;
  }

  :nth-child(2) {
    animation-delay: -.3s;
  }

  :nth-child(3) {
    animation-delay: -.15s;
  }
}

@keyframes loading {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
