@import "../../../assets/styles/constants.scss";


.item {
  display: flex;
  align-items: center;
  padding: 0px 16px;
}

.itemText {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.iconItem {
  justify-content: center;
}

.loading {
  position: absolute;
  top: 50%;
  left: calc(50% + 125px);
  transform: translate(-50%, -50%);
}

.button {
  svg {
    width: 10px;
    height: 10px;
  }
}

.table {
  margin-top: 32px;
}

.tooltip {
  background-color: var(--white);
  padding: 8px 16px;
  box-shadow: var(--shadow-buttons);
  border-radius: 5px;
}

.tooltipItem {
  display: flex;
  cursor: pointer;

  &:hover {
    .tooltipItemIcon {
      color: var(--gray-00);
    }

    .tooltipItemText {
      color: var(--gray-00);
    }
  }
}

.tooltipItemIcon {
  color: var(--gray-10);
  width: 16px;
  height: 16px;
}

.tooltipItemText {
  color: var(--gray-10);
  margin-left: 5px;
}

@media screen and (max-width: $tablet-max-width) {
  .table {
    margin-top: 24px;
  }
}
