@import "../../assets/styles/constants.scss";

.sideBar{
  border-right: 1px solid;
  background-color: var(--gray-00);
  color: var(--gray-20);
  display: flex;

  flex: 0 0 230px;
  flex-flow: column nowrap;

  max-width: 230px;
  height: 100vh;
}

.SideBarFeedback {
  padding: 20px;
}

.sideBarFooter {
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--gray-10);
}

.sideBarButton {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sideBarButtonIconsWrap {
  position: relative;
  margin-right: 10px;
  width:29px;
  height: 24px;
}
.sideBarButtonIcon {
  width: 14px;
  height: 14px;
  position: absolute;

  &.thumbsUp {
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
  }

  &.thumbsDown {
    top: 7px;
    bottom: 0;
    margin: auto;
    right: 0;
    transform: scale(-1, 1)
  }
}

.sideBarButtonText {
  display: block;
}

.footerUser {
  display: flex;
  align-items: center;
}

.footerUserIcon {
  margin-right: 10px;
  color: var(--gray-20);
}

.footerExit{
  cursor: pointer;

  &:hover {
    color: var(--white);
    .footerUserIcon {
      border-color: var(--white);
    }
  }
}

@media screen and (max-width: $tablet-max-width) {
  .sideBar{
    flex: 0 0 75px;
    max-width: 75px;
  }
  .SideBarFeedback {
    padding: 20px 8px;
  }
  .sideBarButton {
    min-width: 36px;
    padding: 6px;
  }
  .sideBarButtonIconsWrap {
    margin-right: 0;
  }
  .sideBarButtonText {
    display: none;
  }
  .sideBarFooter {
    justify-content: center;
  }
  .footerUser {
    display: none;
  }
}
