.overlay {
  position: fixed;
  top: 0;
  right: -15px;
  bottom: 0;
  left: 0;
  z-index: 200;
  display: flex;
  flex-flow: column nowrap;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: var(--black-06);
}

.overlayCentered {
  justify-content: center;
}

.modal {
  min-width: 500px;
  margin: 40px auto;
  padding: 32px;
  background-color: var(--white);
  border-radius: 6px;
  outline: none;

  &.landing {
    min-width: 304px;
    padding: 16px;
  }
}

.iconWrapper {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: all 0.15s ease-out;
}

.icon {
  width: 20px;
  height: 20px;
  color: var(--grey-11);
}

:global {
  .ReactModal__Body--open {
    overflow: hidden;
  }

  .ReactModal__Overlay {
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }

  .ReactModal__Overlay--after-open {
    opacity: 1;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--grey-11);
      border-radius: 5px;
    }
  }

  .ReactModal__Overlay--before-close {
    opacity: 0;
  }

  .ReactModal__Content {
    transform: scale(0);
    transition: all 0.3s ease-in-out;
  }

  .ReactModal__Content--after-open {
    transform: scale(1);
  }

  .ReactModal__Content--before-close {
    transform: scale(0);
  }
}
