.checkboxField {
  display: flex;
  align-items: center;
}

label {
  cursor: pointer;
}

.customCheckbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.iconWrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  border: 2px solid var(--gray-21);
  border-radius: 0.25em;
  transition: all 0.15s ease-out;
  margin-right: 5px;
}

.icon {
  width: 12px;
  height: 12px;
  background-color: var(--gray-21);
  border-radius: 0.25em;
  opacity: 0;
  transition: all 0.15s ease-out;
}

.iconDisabled {
  opacity: 1;
}
