.tag {
  display: inline-flex;
  align-items: center;
  padding: 4px 12px;
  border-radius: 6px;
}

.text {
  line-height: 1;
  color: var(--white);
}

.default {
  background-color: var(--gray-21);
}

.info {
  background-color: var(--blue-10);
}

.success {
  background-color: var(--green);
}

.error {
  background-color: var(--red-81);
}
