.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.startAdornment {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.input {
  width: 100%;
  padding: 12px 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  font-family: 'Lato', sans-serif;
  background-color: var(--white);
  border-radius: 4px;
  outline: none;
  transition: border 0.15s ease-out;
  cursor: auto;

  &::placeholder {
    font-size: 14px;
  }

  &:active,
  &:focus {
    border: 1px solid var(--gray-21);
  }

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--gray-11);
    border-radius: 5px;
  }
}

.inputReadOnly {
  pointer-events: none;
}

.default {
  color: var(--black-01);
  border: 1px solid var(--gray-20);
}

.active {
  border: 1px solid var(--gray-21);
}

.error {
  font-size: 13px;
  border: 1px solid var(--red-30);
  font-weight: 300;
}

.endAdornment {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}
