.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px;
}

.title {
  margin-bottom: 15px;
  font-size: 24px;
}

.buttonBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputField {
  height: 50px;
}
