.control {
  width: 100%;
  margin: 0 12px 40px 0;
}

.ratingsWrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.ratingTitle {
  min-width: 80px;
  word-wrap: break-word;
  line-height: 30px;
}

.ratingComment {
  word-wrap: break-word;
  color: var(--gray-20);
  margin-top: 5px;
  width: 100%;
}

.ratingsRadioWrapper {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
}
