.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.imgWrap {
  width: 100px;
  height: 100px;
  position: relative;
  margin-bottom:30px;
}

.img {
  width: 96px;
  height: 96px;
  color: var(--gray-20);
}

.message {
  color: var(--gray-10);
  text-align: center;
}

.messageTitle {
  margin-bottom: 14px;
}