.modal {
  padding: 20px;
}

.modalBody {
  padding: 30px 0 10px 0;
  position: relative;
}

.modalTitle {
  line-height: 1;
}

.loading{
  margin: 40px auto;
}

.scrollWrapper{
  max-height: 500px;
}

.thumb {
right: -15px;
}

.radioField{
  flex: 1;
}

.template{
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.templateItem {
  margin: 10px 0;
}

.templateLabel {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.radioInput {
  margin: 5px;
  cursor: pointer;
}

.emptyResult {
  display: flex;
  align-items: flex-start;
}

.icon {
  margin-right: 15px;
  width: 42px;
  height: 42px;
  color: var(--gray-20);
}

.errorMessage {
  position: absolute;
  bottom: 10px;
}

.buttonBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.disabled {
  opacity: 0.4;
  cursor: auto;
}

.templateGroup {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--gray-22);
}

.infoMessage {
  display: flex;
  align-items: center;
}

.infoMessageIconWrap {
  margin-right: 8px;
  border-radius: 50%;
  border: 1px solid var(--gray-21);
  padding: 2px;
}

.infoMessageIcon {
  color: var(--gray-21);
  width: 20px;
  height: 20px;
}

.infoMessageText {
  color: var(--gray-21);
  font-weight: 400;
  margin-bottom: 10px;
}

.row{
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  &:last-child{
    margin-bottom: 0;
  }
}

.eyeIcon{
  cursor: pointer;
  margin-right: 4px
}
