.loading {
  position: absolute;
  top: 50%;
  left: calc(50% + 125px);
  transform: translate(-50%, -50%);
}

.page {
  padding-top: 12px;
}

.titleContainer {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  position: relative;
}

.title {
  font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
  font-size: 30px;
  line-height: 36px;
  min-height: 48px;
  max-width: 1000px;
  min-width: 10px;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 26px;
  color: var(--gray-00);
  position: relative;

  &:hover,
  &:focus,
  &:focus-within {
    .titleEditInput {
      visibility: visible;
    }
  }
}

.hiddenValue {
  visibility: hidden;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 400;
  display: block;
  padding: 6px 25px 6px 6px;
}

.formControl {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
}

.titleEditInput {
  font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
  background: var(--base-10);

  &:focus-within {
    background-color: var(--white);
  }

  input {
    outline: none;
    font-size: 30px;
    line-height: 36px;
    height: 46px;
    color: var(--gray-00);
    padding: 5px 35px 5px 5px;
    border-color: transparent;
    background: transparent;
    text-overflow: ellipsis;
    z-index: 2;

    &:focus {
      border-color: var(--gray-10);
    }

    &:hover {
      border-color: var(--gray-20);
    }
    &::placeholder {
      font-size: 30px;
      line-height: 36px;
      color: var(--gray-20);
      padding: 5px 35px 5px 5px;
    }
  }
  &.errorInput {
    border: 1px solid var(--red-30);
    border-radius: 5px;

    input {
      border: none;
      font-weight: 400;
    }
  }
}

.endAdornment {
  top: calc(2px + 50%);
  right: 10px;
  z-index: 1;
}

.titleEditIcon {
  color: var(--gray-20);
  display: block;
  width: 18px;
  height: 18px;
}

.question {
  border-radius: 5px;
  background-color: var(--white);
  margin-bottom: 4px;
  box-shadow: var(--shadow-group);
}

.buttonTopContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.button {
  margin-right: 15px;
  svg {
    width: 10px;
    height: 10px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.separator {
  margin-right: 15px;
}

.assigneeTopButtonsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}

.assigneeContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 15px;
}

.assigneeButtonContainer {
  position: relative;
  white-space: nowrap;
  margin-right: 20px;
  margin-bottom: 20px;
}

.assigneeTitle {
  margin-right: 10px;
  color: var(--gray-10);
}

.selectControl {
  min-width: 300px;
  margin-bottom: 0;
}

.selectInput {
  min-height: 35px;
  & > div {
    padding: 0px 10px;
  }
}

.questionContainer {
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  background: var(--white);
  border-radius: 4px;
}

.interviewQuestion {
  color: var(--black-01);
  width: 100%;
  margin: 0 0 0 8px;
  padding: 10px 0;
  border-bottom: 1px solid var(--black-01);
}

.interviewViewQuestion {
  color: var(--black-01);
  width: 100%;
  margin: 0 0 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid var(--black-01);
}

.timeBar {
  display: flex;
  justify-content: flex-end;
}

.timeBarText {
  color: var(--gray-20);
}

.buttonBottomContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 8px;
}

.addButton {
  background-color: transparent;
}

.errorMessage {
  position: absolute;
  top: 50px;
}

.toastProgressBar {
  background: var(--blue-10);
}
