.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px;
  max-width: 500px;
}

.title {
  margin-bottom: 15px;
  font-size: 24px;
}

.subTitle {
  font-size: 16px;
  margin-bottom: 15px;
}

.buttonBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.button {
  align-self: center;
  min-width: 100px;
  font-size: 16px;
  height: 42px;
  margin-left: 20px;
}
