:global{

:root{
  --color-red-primary: #DB4848;

  --white: #ffffff;
  --white-01: #f5f5ff;
  --black-00: #000000;
  --black-01: rgba(0,0,0,0.87);
  --black-06: rgba(0, 0, 0, 0.6);
  --black-08: rgba(0, 0, 0, 0.26);
  --black-09: rgba(0, 0, 0, 0.12);

  --base-00: rgba(0, 0, 0, 0.01);
  --base-10: #F1F6F9;
  --base-14: #e6eaed;

  --gray-00: #14274E;
  --gray-01: #172E5C;
  --gray-10: #394867;
  --gray-11: #2E3C57;
  --gray-19: #a8adb7;
  --gray-20: #9BA4B4;
  --gray-21: #8A92A0;
  --gray-22: #C6D0E1;


  --red-00: #DB4848;
  --red-01: #d13636;
  --red-20: #c27085;
  --red-30: red;
  --red-80: #DA0037;
  --red-81: #C60032;

  --blue: #226AFF;
  --blue-01: #EEF4FF;
  --blue-10: #2652AB;

  --green: #06845E;



  --shadow-elevation-1: 0px 6px 31px rgba(22, 53, 122, .06), 0px 2px 7px rgba(22, 53, 122, .03), 0px 1px 2px rgba(22, 53, 122, .02);
  --shadow-buttons: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
  --shadow-group: 0px 1px 22px rgba(22, 53, 122, .09), 0px 1px 4px rgba(22, 53, 122, .06), 0px 0px 1px rgba(22, 53, 122, .02);
}

}
