.page {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.title {
  color: var(--gray-00);
  margin-bottom: 14px;
}

.pageErrorView {
  font-size: 160px;
  color: var(--gray-10);
  text-align: center;
  margin-bottom: 40px;
}