.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px;
  width: 60%;
}

.title {
  margin-bottom: 15px;
  font-size: 24px;
}

.buttonBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titleField,
.commentField {
  resize: none;
  height: 80px;
}

.commentField {
  height: 120px;
}
