.group {
  border-radius: 5px;
  background-color: var(--white);
  margin-bottom: 4px;
  box-shadow: var(--shadow-group);
}

.openedGroup{
  border-radius: 5px;
  background-color: var(--white);

  margin-bottom: 4px;
  box-shadow: var(--shadow-group);

}

.questionContainer {
  padding: 0 0 20px 20px;
}
