@import "../../../assets/styles/constants.scss";


.logo {
  display: flex;
  padding:30px 20px;
  align-items: center;
  color: var(--white);
  font-family: 'Cousine', monospace;
  font-size: 20px;

  img {
    width: 65px;
    height: 70px;
  }
}

.logoWrap {
  display: flex;
  padding: 30px 20px;
  align-items: self-end;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray-10);
}
.logoSquare {
  width: 64px;
  height: 64px;
  background-color: var(--white);
  color: var(--gray-00);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 30px;
  padding: 10px;
  line-height: 44px;
  box-sizing: border-box;
  text-align: center;
}

.logoName {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 12px;
  color: var(--white);
  margin-left: 10px;
}

@media screen and (max-width: $tablet-max-width) {
  .logo {
    border-bottom: 1px solid var(--gray-10);
  }

  .logoName {
    display: none;
  }

  .logoWrap {
    padding: 15px 12px;
  }

  .logoSquare {
    width: 48px;
    height: 48px;
    font-size: 24px;
    padding: 6px;
    line-height: 39px;
  }
}
