.scrollWrapper {
  position: relative;
  // display: flex;
  // flex: 1;
  // flex-flow: column nowrap;
  width: 100%;
}

.wrapper {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.content {
  display: block !important;
}

.thumb {
  position: absolute;
  right: 5px;
  width: 4px;
  background-color: var( --gray-21);
  border-radius: 5px;
  cursor: pointer;
  transition: all .15s ease-out;
  touch-action: none;
}

.track {
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 2;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 4px;
  height: calc(100% - 20px);
  background-color: transparent;
  border-radius: 5px;
  opacity: 0;
  transition: .15s ease-out;
  user-select: none;

  &.trackScrolling {
    opacity: 1;
  }
}
