.commentsField {
  height: 150px;
  resize: none;
  margin: 0;
  word-break: break-word;
  pointer-events: all;
}

.viewField {
  margin-bottom: 35px;
  width: 100%;
}

.title {
  margin-bottom: 6px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
}

.text {
  font-size: 14px;
  line-height: 17px;
  text-align: justify;
}

.commentFieldStyle {
  position: relative;
}

.errorMessage {
  position: absolute;
  bottom: -22px;
}

.managerAndCustomerSummary {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  gap: 30px;
}

.warningIcon {
  margin-right: 8px;
}

.feedbackHeader {
  display: flex;
  align-items: center;
}

.feedbackWaringMessage {
  padding: 10px;
  color: var(--gray-21);
}
